#home-header {
  text-shadow: 2px 2px;
  backgroun-color: #67836a;
}

.h1-headers {
  font-family: "Cloister Black", "Monaco", "Papyrus";
}

#home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #3d4346;
  border-style: groove;
}

#home-left-portion {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#home-center-portion {
  display: flex;
  padding: 1em;
}

#home-right-portion {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
